*{
    font-family: sans-serif;
}

body{
   /** background-image: url(/imagens/index\ teste\ 3.png);*/
   background-color: rgb(231, 216, 195);
    position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
    opacity: 1;
}

h1{
    font-size: 1.5em;
}

input{
    border-radius: 8px;
    width: 250px;
    padding: 12px;
    font-size: 18px;
    color: rgb(102, 91, 91);
}

form button{
   border: 2px solid #1628a1;
   border-radius: 8px;
   font-size: 18px;
   padding: 12px;
   background: #ffffff ;
   color: #1628a1;
   cursor: pointer;
}

form button:hover{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 8px;
    font-size: 18px;
    padding: 12px;
    background: #1628a1 ;
    color: aliceblue;
    cursor: pointer;
 }

#tarefas button{
    margin-top: 0.4em;
    margin-left: 0.7em;
    background: #ee8c8c;
    font-size: 16px;
    border: 1px solid #ee8c8c;
    color: #ff0000;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
}
#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#caixa {
    width: 300px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #0c0c0b60;
}

#tarefas{

    width: 300px;
    background-color: #4667d3a6;
    padding: 10px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #38027760;

}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

ul, #ajuste{
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#sair{
    border: 0px;
    border-bottom: 2px solid #1628a1;
    background-color: transparent;
    color: #1628a1;
    cursor: pointer;
}
#sair:hover{
    border: 0px;
    border-bottom: 2px solid #f80707;
    background-color: transparent;
    color: #f80707;
    cursor: pointer;
}

#logado{
    color: #1628a1;
    box-shadow: 0px 3px 0px 0px #1628a160;
    width: 300px;
    text-align: center;
    transition: all .9s ease-out;
}

#logado:hover{
    color: #fc0000;
    box-shadow: 0px 3px 0px 0px #fc000060;
    width: 300px;
    text-align: center;
    transition: all .9s ease-out;
}

a:hover {
 color: #000000;
}
a {
    color: #fc0000;
   }